{{!-- Grabs data-known value from index.handlebars --}}
<button type="button" class="change-status btn btn-primary btn-lg" data-id="{{this.dataValues.id}}" data-newknown="{{known}}">
	{{this.dataValues.name}}
</button>